<!DOCTYPE html>
<html>

    <head>
        <body> 
        </body>
        <h1>
            <% if(data.message){ %>
                Successfully updated your password
                <% } %>
        </h1>
        <h1>
            <%= data.email %> 
        </h1>
        <form method="post" action="api/v1.0/updatepassword">
            <input type="password" name="password" placeholder="enter your password"/>
            <input type="password" name="confirmPassword" placeholder="re enter your password"/>
            <input name="token" value="<%= data.forgotPasswordToken%>" hidden=true/>
            <input type="submit" value="abc"/>
        </form>

    </head>

</html>